.profile-section {
    width: 60%;
    border: 2px solid rgb(1, 101, 1);
    border-radius: 10px;
    background: url(../../../assets/images/banner/home/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-section h3 {
    color: #464646;
}

.profile-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-div img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .profile-section {
        width: 90%;
        margin-bottom: 10%;
    }

    .email {
        max-width: 50%;
        overflow-x: scroll;
        border: 1px solid #464646;
        border-radius: 2px;
        padding: 2px;
        padding-inline: 4px;
    }
}