.appointment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: green;
    color: white;
    font-size: 1.3rem;
    width: 200px;
    height: 75px;
    rotate: -90deg;
    transition: 0.4s;
    position: fixed;
    z-index: 3;
}

.appointment-btn:hover {
    background-color: rgb(1, 87, 1);
}

@media screen and (min-width:960px) {
    .appointment-btn {
        top: 15%;
        right: 0;
    }
}

@media screen and (max-width:960px) {
    .appointment-btn {
        width: 100vw;
        rotate: 0deg;
        bottom: 0;
        height: 60px;
    }
}