.review {
    width: 45%;
    margin-bottom: 10%;
}

.review-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3%;
    background: url('../../../../../assets/images/service-details/review-border-bg.jpg');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.review-center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background: url('../../../../../assets/images/service-details/review-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: justify;
    min-height: 180px;
}

.review-top-section {
    background: url('../../../../../assets/images/service-details/review-border-bg.jpg');
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: yellow;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.review-top-section img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid yellow;
}

.yellow-underlined-text {
    color: yellow;
    text-decoration: underline;
}

.yellow-underlined-text:hover {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .full-review {
        width: 90%;
    }

    .full-review .review-top-section {
        padding: 2%;
    }

    .full-review .review-bottom-section {
        padding: 1%;
    }

    .full-review .review-center-section {
        padding: 5%;
    }

}

@media screen and (max-width:768px) {
    .review {
        width: 100%;
    }
}