.edit-review-btn {
    padding: 1%;
    padding-inline: 2%;
    border-radius: 4px;
    background-color: white;
}

.update-review-btn {
    border: 1px solid rgb(1, 101, 1);
    color: rgb(1, 101, 1);
}

.discard-review-btn {
    border: 1px solid maroon;
    color: maroon;
}

.edit-review-btn:hover {
    border: 1px solid black;
    color: black;
}