.patient-count {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    color: white;
}

.patient-count div {
    background: url(../../../../assets/images/home/patient-count/patient-count-bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 45%;
    height: 80%;
    border-radius: 12px;
    padding-top: 2.5%;
}

.patient-count h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: aliceblue;
}

.patient-count p {
    font-size: 1.5rem;
    color: yellow;
}

@media screen and (max-width:768px) {
    .patient-count {
        margin-top: 30%;
        height: 75vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .patient-count div {
        width: 100%;
    }
}