.services {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    animation: move 2s linear 0s 1;
}

@keyframes move {
    0% {
        margin-left: 100px;
    }

    100% {
        margin-left: 0;
    }
}


@media screen and (max-width: 1124px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 740px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
}