.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    position: relative;
}

.logo {
    height: 100px;
}

.menu {
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    font-size: 1.2rem;
    font-weight: 500;
    width: 50%;
    padding-top: 1%;
}

.menu::-webkit-scrollbar {
    opacity: 0;
}

.view-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu:hover {
    cursor: pointer;
}

.close {
    color: rgb(200, 200, 200);
    transition: 0.5s;
}

.lines {
    position: relative;
    margin-bottom: 10px;
}

.line {
    height: 2px;
    width: 100px;
    border: 2px solid rgb(70, 70, 70);
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: 0.4s;
}

.second-line {
    margin-top: 8px;
}

.menu:hover .second-line {
    width: 50px;
}

.menu:hover .close {
    color: rgb(70, 70, 70);
}

.rotate-line {
    width: 50px;
}

.rotate-first-line {
    transform: rotate(45deg);
}

.rotate-second-line {
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
}

.menu-links {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.user-id {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.menu-option {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.menu-option:hover p {
    color: green;
}

.menu-icon {
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {
    .navbar {
        padding-right: 0;
    }

    .hide-logo-section {
        display: none;
    }

    .menu {
        padding-top: 10%;
        width: 100%;
    }

    .line {
        width: 60px;
    }

    .menu:hover .second-line {
        width: 30px;
    }

    .rotate-line {
        width: 30px;
    }

    .view-menu-text {
        display: none;
    }

}