.navbar {
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 200px;
}

@keyframes menu-container-animation {
    0% {
        top: -1000px;
    }

    100% {
        top: 0;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.6);
    animation: menu-container-animation 0.5s linear 0s 1;
}

@keyframes hide-menu-container-animation {
    0% {
        top: 0;
        height: 100vh;
    }

    100% {
        top: -1000px;
    }
}

.hidden-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0);
    animation: hide-menu-container-animation 0.5s linear 0s 1;
}

.menu-closed {
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #464646;
    font-weight: 500;
    padding-top: 2%;
}

.menu-open {
    height: 100vh;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #464646;
    font-weight: 500;
    padding-top: 2%;
}

.toggle-menuOpen-container {
    display: flex;
    justify-content: center;

}

.toggle-menuOpen {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 2px;
}

.toggle-menuOpen p {
    font-size: 1.2rem;
    font-weight: 500;
}

.toggle-menuOpen:hover {
    cursor: pointer;
}

.lines {
    position: relative;
}

.line {
    width: 80px;
    height: 2px;
    border-top: 2px solid #464646;
    transition: 0.3s;
}

.first-line {
    margin-bottom: 8px;
}

.toggle-menuOpen:hover .second-line {
    width: 50%;
}

.rotated-first-line {
    width: 40px;
    transform: rotate(45deg);
}

.rotated-second-line {
    width: 40px;
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
}

.close-text {
    color: #b4b3b3;
}

.close-text:hover {
    color: #464646;
}

.menu-options {
    margin-top: 50px;
    overflow-y: scroll;
}

@keyframes hide-menu-options-animation {
    0% {
        display: block;

    }

    100% {
        display: none;
    }
}

.hide-menu-options {
    animation: hide-menu-options-animation 0.5s linear 0s 1;
    background-color: white;
    display: none;
}

.user-info {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.menu-option-link {
    text-decoration: none;
    color: #464646;
}

.activated-link {
    color: green;
}

.menu-option {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #464646;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-option:hover {
    cursor: pointer;
}

.menu-option:hover p {
    color: green;
}

@media screen and (max-width: 768px) {
    .logo {
        height: 70px;
        width: 125px;
    }

    .menu-open {
        width: 100%;
    }

    .menu-options {
        padding-bottom: 100px;
    }

    .toggle-menuOpen-container {
        justify-content: end;
        margin-right: 30px;
    }

    .toggle-menuOpen {
        margin-top: 30px;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .toggle-menuOpen p {
        display: none;
    }

}