.my-reviews-and-profile-page-container {
    background: url('../../assets/images/my-reviews/my-reviews-page-bg.jpg');
}

.my-reviews-and-profile-page {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background: rgba(255, 255, 255, 0.8);
}