/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu&display=swap');

.App {
    font-family: 'Ubuntu', sans-serif;
}

.section {
    margin-top: 5%;
    padding: 5%;
}

.section-heading {
    color: #464646;
    margin: 0;
}

.d-none {
    display: none;
}

.d-md-none {
    display: none;
}

.d-inline {
    display: inline;
}

.toast {

    font-weight: 500;
    padding: 15px;
    border-radius: 3px;
}

.toast-success {
    background-color: rgba(10, 235, 10, 0.6);
    color: white;
}

.toast-error {
    background-color: rgb(248, 42, 42, 0.5);
    color: white;
}

.green-link {
    color: rgb(1, 101, 1);
}

.link-without-underline {
    text-decoration: none;
}

.link-without-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-semibold {
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .d-sm-none {
        display: none;
    }

    .d-md-none {
        display: block;
    }
}