.home-page-sections {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 10%;
}

.home-page-services {
    position: relative;
}

.show-all-link {
    position: absolute;
    right: 40%;
    margin-top: 1%;
    text-decoration: none;
    color: rgb(1, 101, 1);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

.show-all-link p {
    margin: 0;
}

.show-all-link:hover {
    font-size: 1.35rem;
}

.show-all-link:hover p {
    text-decoration: underline;
}

/* 1124 */
@media screen and (max-width:1124px) and (min-width:740px) {
    .show-all-link {
        right: 20%;
        bottom: 15%;
        flex-direction: column;
        justify-content: center;
        width: 120px;
        height: 120px;
        border: 1px solid rgb(1, 101, 1);
        color: rgb(1, 101, 1);
        border-radius: 50%;
        padding: 2%;
    }

    .show-all-link:hover {
        font-size: 1.3rem;
    }

}

@media screen and (max-width:1124px) {
    .home-page-sections {
        flex-direction: column;
        gap: 25px;
    }
}


/* 740 */
@media screen and (max-width:740px) {
    .show-all-link {
        margin-top: 5%;
        right: 50%;
    }

    .home-page-sections {
        margin-top: 25%;
    }
}

@media screen and (max-width:500px) {
    .show-all-link {
        right: 40%;
    }
}