.my-review-container {
    margin: 2%;
    margin-bottom: 5%;
    padding: 4%;
    border: 1px solid rgb(1, 101, 1);
    position: relative;
    border-radius: 5px;
}

.my-review {
    padding: 4%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #464646;
}

.my-review-icons {
    position: absolute;
    bottom: 0%;
    right: 10%;
}

.my-review-icon {
    width: 25px;
    height: 25px;
    padding: 12px;
    background-color: white;
    border-radius: 50%;

}

.edit-icon {
    color: #464646;
    border-top: 3px solid #464646;
    margin-right: 8px;
}

.delete-icon {
    color: maroon;
    border-top: 3px solid maroon;
}

.edit-icon:hover {
    color: black;
    border-top: 3px solid black;

}

.delete-icon:hover {
    color: red;
    border-top: 3px solid red;
}

@media screen and (max-width:768px) {
    .my-review-container {
        margin: 1%;
    }
}